
Answer the question based on the dataset 
The dataset consist of the details fof the employees of an educational institute with rank, discipline, phd, service, sex, salary

In [ ]:
import pandas as pd

In [ ]:
#Execute the cell to import the dataset
df = pd.read_csv("https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv",)

1. Analyse the datatypes of the columns

In [ ]:
#Soln 1.

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

2. Perform the statistical analysis for the given dataset

In [ ]:
#Soln 2.

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

3. Display the last 10 record of the dataset.

In [ ]:
#Soln 3.

         rank discipline  phd  service     sex  salary
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

4.List out all the column name from 'df'

In [ ]:
# Soln 4.

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

5. Find out the highest and lowest paid salaries.

In [ ]:
#Soln 5.

Maximum and minimum salaries is:   57800 186960

6. How many employees are there for each discipline

In [ ]:
#Soln 6.

B    42
A    36
Name: discipline, dtype: int64

7. Seperate out the dependant and independant variables from the dataset using 'iloc'

In [ ]:
# Soln 7:DependantVariable

         rank discipline  phd  service     sex
0        Prof          B   56       49    Male
1        Prof          A   12        6    Male
2        Prof          A   23       20    Male
3        Prof          A   40       31    Male
4        Prof          B   20       18    Male
..        ...        ...  ...      ...     ...
73       Prof          B   18       10  Female
74  AssocProf          B   19        6  Female
75       Prof          B   17       17  Female
76       Prof          A   28       14  Female
77       Prof          A   23       15  Female

[78 rows x 5 columns]

In [ ]:
# Soln 7 Independant Variable

Independant variables are:

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

8. Find out the average salary of a male employee and a female employee.

In [ ]:
#Soln 8.
print("Average salary for male and Female employees is: ")

Average salary for Female employees is:

sex
Female    101002.410256
Male      115045.153846
Name: salary, dtype: float64

9. Find out the average salary for Associate Prof, Assisstant prof and Professor

In [ ]:
#Soln 9.

rank
AssocProf     91786.230769
AsstProf      81362.789474
Prof         123624.804348
Name: salary, dtype: float64

10. Dispaly the records where the salary of the employees is greater than 120000 and give the count.

In [ ]:
#Soln 10.


print("Count is: ")

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
3   Prof          A   40       31    Male  131205
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
19  Prof          A   29       27    Male  150500
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
29  Prof          B   21       20    Male  123683
31  Prof          B   22       21    Male  155750
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
58  Prof          B   36       26  Female  144651
72  Prof          B   24       15  Female  161101
75  Prof          B   17       17  Female  124312
Count is:  25